language: node_js
dist: bionic
node_js:
  - 16
script:
  - eslint 'src/**'
  - npm run test:coveralls
build:
  provider: heroku
  api_key: $HEROKU_API
  app: alan-appointments-api-frontend
  skip_cleanup: true