@import "../styles/colors.scss";

@font-face {
  font-family: 'Tommy';
  src: url('../../assets/fonts/MADE\ TOMMY\ Light_PERSONAL\ USE.otf');
}

@font-face {
  font-family: 'Tommy';
  src: url('../../assets/fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Tommy';
  src: url('../../assets/fonts/MADE\ TOMMY\ Medium_PERSONAL\ USE.otf');
  font-weight: 900;
}

* {
  font-family: 'Tommy', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: $background;
}
