@import "../../styles/colors.scss";


.root {
  display: flex;
  user-select: none;
  margin: 0 auto;
  height: 72px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.subLogo {
  display: flex;
  margin-left: 3rem;
  flex-direction: column;
  justify-content: center;

  & > a {
    text-decoration: none;
  }
  @media (max-width: 700px) {
    margin-left: 1rem;
  }
}

.subLogoText {
  display: flex;
  flex-direction: row;
  width: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: $white;
  text-shadow: 1px 2px 4px $primaryDark;
  @media (max-width: 700px) {
    font-size: 1.2rem;
  }
}

.navBar {
  display: flex;
  width: 100%;  
  margin-right: 0px;
  justify-content: flex-end;
  margin-right: 3rem;
  a {
    justify-content: center;
  }
  @media (max-width: 700px) {
    margin-right: 0rem;
  }
}

.navButton {
  height: 100%;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
  border-radius: 5px;

  svg {
    font-size: 1.2rem;
    margin-right: 0.5rem;

    @media (max-width: 700px) {
      font-size: 1rem;
    }
  }

  :hover {
    background-color: $primaryDark;
  };

  a {
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    padding: 0 1rem;
    text-decoration: none;
    color: $white;
    text-shadow: 1px 2px 4px $primaryDark;
    @media (max-width: 700px) {
      font-size: 0.7rem;
    }
  }

  button {
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    padding: 0 1rem;
    text-decoration: none;
    color: $white;
    text-shadow: 1px 2px 4px $primaryDark;
  }
}